<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="profile.html"><img src="assets/plugins/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
      <h5 class="centered">Samir Addam</h5>

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-desktop"></i>
          <span>incident</span>
        </a>
        <ul class="sub">
          <li><a href="home">Automatic service</a></li>
          <li><a href="home/backup">Backup</a></li>
          <li><a href="home/connection">Connection DB</a></li>
          <li><a href="home/disk">Disk Space</a></li>
          <li><a href="home/error">Error ORA</a></li>
          <li><a href="home/informix">informix</a></li>
          <li><a href="home/job">Job MSSQL</a></li>
          <li><a href="home/monitoring">MONITORING DBSPI</a></li>
          <li><a href="home/mysql">MYSQL</a></li>
          <li><a href="home/performance">performance process</a></li>
          <li><a href="home/others">others</a></li>
        </ul>
      </li>




      <li>
        <a href="home/change">
          <i class="fa fa-envelope"></i>
          <span>change </span>
          <span class="label label-theme pull-right mail-info">2</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class=" fa fa-bar-chart-o"></i>
          <span>Compte</span>
        </a>
        <ul class="sub">
          <li><a href="home/comptem">changer mot de passe </a></li>
          <li><a href="home/compteu">changer nom d'utilisateur</a></li>

        </ul>
      </li>


    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
