<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right" style="color: red"></i> changer nom d'utilisateur</h3>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">

        <label style="color: #00c5de">nom d'utulisateur actuel</label>
        <div class="form-group pass_show">
          <input type="text" value="faisalkhan@123" class="form-control" placeholder="actuel" >
        </div>
        <label style="color: #00c5de">nouveau nom d'utilisateur</label>
        <div class="form-group pass_show">
          <input type="text" value="faisal.khan@123" class="form-control" placeholder="nouveau">
        </div>
        <label style="color: #00c5de">mot de passe</label>
        <div class="form-group pass_show">
          <input type="password" value="faisal.khan@123" class="form-control" placeholder="password">
        </div>

      </div>

    </div>
    <div class="row">
      <div class="input-group mb-5"></div>
      <div class="col-md-2"></div>
      <button type="button" class="btn btn-info">enregister</button>
      <div class="col-md-1"></div>
      <button type="button" class="btn btn-danger">annuler</button>
    </div>

  </section>
</section>
