
<h1 class="text-center">Inscription</h1>
<form role="form"  [formGroup]="InscriptionComponent"  (ngSubmit)="addu()">
  <div class="card-body">
    <div class="form-group">
      <div class="col-4">
        <h4>Prénom</h4>
        <input type="text" class="form-control" id="firstName" placeholder="firstName" ng-model="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">firstName is required</div>
        </div>


      </div>
    </div>
    <div class="form-group">
      <div class="col-4">
        <h4>Nom</h4>
        <input type="text" class="form-control" id="lastName" placeholder="lastname" ng-model="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Name is required</div>
        </div>


      </div>
    </div>

    <div class="form-group">
      <div class="col-4">
        <h4>nom d'utlisateur</h4>
        <input type="username" class="form-control" id="username"  placeholder="Enter nomutilisateur" formControlName="username"[ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">username is required</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-4">
        <h4>email</h4>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email"[ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Name is required</div>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-4">
        <h4>mot de passe</h4>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password"[ngClass]="{'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Name is required</div>
        </div>
      </div>
    </div>



    <div class="col-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
      <div class="social-auth-links text-center mb-3">

      </div>

    </div>
  </div>
</form>


